<form th:action="@{/attendance/create/getEmployees}"
      class="p-4 border-b">
    <input type="hidden" name="field" value="departmentId">
    <h2 class="text-xl font-bold text-gray-800 mb-3">Employee List</h2>
    <select name="value" class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-500"
            onchange="this.form.submit()">
        <option value="all"
                th:selected="${(param.value == null) || (param.value[0] == 'all')}">All Departments
        <option th:each="dept : ${departments}"
                th:value="${dept.getDepartmentId()}"
                th:text="${dept.getDepartmentName()}"
                th:selected="${(param.value != null) && (param.value[0] == T(java.lang.String).valueOf(dept.getDepartmentId()))}"></option>
    </select>
</form>

<form th:action="@{/attendance/create/save}" th:object="${attendanceCreationDTO}" method="post">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attendance, stat : *{attendances}">
            <input type="hidden" th:field="*{attendances[__${stat.index}__].employeeId}"/>
            <input type="hidden" th:field="*{attendances[__${stat.index}__].attendanceId}"/>
            <td>
                <input th:field="*{attendances[__${stat.index}__].lastName}">
            </td>
            <td>
                <input type="date"
                       th:field="*{attendances[__${stat.index}__].attendanceDate}"/>
            </td>
            <td>
                <input type="time"
                       th:field="*{attendances[__${stat.index}__].attendanceCheckIn}"
                />
            </td>
            <td>
                <input type="time"
                       th:field="*{attendances[__${stat.index}__].attendanceCheckOut}"/>
            </td>
            <td>
                <select th:field="*{attendances[__${stat.index}__].attendanceStatus}">
                    <option value="PRESENT">Có mặt</option>
                    <option value="ABSENT">Vắng mặt</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">SUBMIT</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {

    })
</script>