<script>
    document.addEventListener('DOMContentLoaded', function () {


        DependentHandler.initialize();
    });
</script>
<!--/*@thymesVar id="employee" type="com.se1873.js.springboot.project.dto.EmployeeDTO"*/-->
<div class="p-2 bg-blue-50 h-full">
    <div class="flex h-full">
        <div class="flex flex-col shrink-0 mt-[10rem] mx-[5rem]">
            <!-- Set fixed size for the avatar and prevent shrinking -->
            <!--            <img class="bg-gray-200 w-[15rem] shrink-0" th:src="${employee.getEmployee().getEmployeeAvatarUrl()}">-->
        </div>
        <div class="w-full p-2">
            <div class="flex items-start gap-[4rem] self-stretch p-2">
                <a th:href="@{/employee/view(id=${employee.getEmployee().getEmployeeId()}, tab='personal', edit=${edit})}"
                   class="flex flex-col justify-center items-center gap-2 ">
                    <div class="title-3rem ${tab == 'personal' ? 'text-[#5E5ADB]' : ''}">Personal and Contact</div>
                    <div class="self-stretch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="2" viewBox="0 0 153 2" fill="none">
                            <path d="M0 1H153" th:stroke="${tab == 'personal' ? '#5E5ADB' : '#464F60'}"
                                  stroke-width="2"/>
                        </svg>
                    </div>
                </a>
                <a th:href="@{/employee/view(id=${employee.getEmployee().getEmployeeId()}, tab='job', edit=${edit})}"
                   class="flex flex-col justify-center items-center gap-2 ">
                    <div class="title-3rem ${tab == 'job' ? 'text-[#5E5ADB]' : ''}">Job Information</div>
                    <div class="self-stretch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="2" viewBox="0 0 153 2" fill="none">
                            <path d="M0 1H153" th:stroke="${tab == 'job' ? '#5E5ADB' : '#464F60'}"
                                  stroke-width="2"/>
                        </svg>
                    </div>
                </a>
                <a th:href="@{/employee/view(id=${employee.getEmployee().getEmployeeId()}, tab='dependant', edit=${edit})}"
                   class="flex flex-col justify-center items-center gap-2 ">
                    <div class="title-3rem ${tab == 'dependant' ? 'text-[#5E5ADB]' : ''}">Dependants</div>
                    <div class="self-stretch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="2" viewBox="0 0 153 2" fill="none">
                            <path d="M0 1H153" th:stroke="${tab == 'dependant' ? '#5E5ADB' : '#464F60'}"
                                  stroke-width="2"/>
                        </svg>
                    </div>
                </a>
                <a th:href="@{/employee/view(id=${employee.getEmployee().getEmployeeId()}, tab='dependant', edit=${edit})}"
                   class="flex flex-col justify-center items-center gap-2 ">
                    <div class="title-3rem ${tab == 'dependant' ? 'text-[#5E5ADB]' : ''}">Dependants</div>
                    <div class="self-stretch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="auto" height="2" viewBox="0 0 153 2" fill="none">
                            <path d="M0 1H153" th:stroke="${tab == 'dependant' ? '#5E5ADB' : '#464F60'}"
                                  stroke-width="2"/>
                        </svg>
                    </div>
                </a>
            </div>
            <form th:action="@{/employee/update(id=${employee.getEmployee().getEmployeeId()})}"
                  th:method="GET"
                  th:object="${employee}">
                <div th:switch="${edit}">
                    <div th:case="${false}" class="flex items-end justify-end gap-[4rem] mx-[2rem]">
                        <a class="bg-red-200 px-5 py-2 text-right rounded"
                           th:href="@{/employee/view(edit=true, id=${employee.getEmployee().getEmployeeId()}, tab=${tab})}"
                           th:text="Edit"></a>
                        <a class="bg-gray-200 px-5 py-2 text-right rounded"
                           th:href="@{/employee}"
                           th:text="Close"></a>
                    </div>
                    <div th:case="${true}" class="flex items-end justify-end gap-[4rem] mx-[2rem]">
                        <button class="bg-red-200 px-5 py-2 text-right rounded"
                                th:text="Save"
                                id="saveBtn"></button>
                        <a class="bg-gray-200 px-5 py-2 text-right rounded"
                           th:href="@{/employee/view(edit=false, id=${employee.getEmployee().getEmployeeId()})}"
                           th:text="Cancel"></a>
                    </div>
                </div>
                <input type="hidden" th:field="*{employee.employeeId}">
                <div th:class="${tab != 'personal' ? 'hidden ' : ''}">
                    <div class="tieu-de-section-va-btns-col scrollable-div">
                        <span class="title-3rem">Personal</span>
                        <div class="flex justify-start items-start self-stretch gap-[10rem]">
                            <div class="">
                                <div class="title-of-field">First name</div>
                                <label>
                                    <input class="input-fields"
                                           type="text"
                                           placeholder="Input your data..."
                                           th:field="*{employee.firstName}"
                                           th:readonly="${!edit}">
                                </label>
                            </div>
                            <div class="">
                                <div class="title-of-field">Last name</div>
                                <label>
                                    <input class="input-fields"
                                           type="text"
                                           placeholder="Input your data..."
                                           th:field="*{employee.lastName}"
                                           th:readonly="${!edit}">
                                </label>
                            </div>
                            <div class="flex flex-col">
                                <div class="title-of-field">Gender</div>
                                <label>
                                    <select class="px-4 py-2 w-[20rem] flex shrink-0 items-center content-center rounded-lg"
                                            th:readonly="${!edit}">
                                        <option value="male" th:selected="*{employee.gender == 'male'}">Male</option>
                                        <option value="female" th:selected="*{employee.gender == 'female'}">Female
                                        </option>
                                    </select>
                                </label>
                            </div>
                            <div class="">
                                <div class="title-of-field">Birth date</div>
                                <label>
                                    <input class="input-fields"
                                           type="date"
                                           placeholder="Input your data..."
                                           th:field="*{employee.birthDate}"
                                           th:value="${{employee.getEmployee().getBirthDate()}}"
                                           th:readonly="${!edit}">
                                </label>
                            </div>
                        </div>
                        <div class="flex justify-start items-start self-stretch gap-[10rem]">
                            <div class="">
                                <div class="title-of-field">ID no</div>
                                <label>
                                    <input class="input-fields"
                                           type="text"
                                           placeholder="Input your data..."
                                           th:field="*{employee.idNumber}"
                                           th:readonly="${!edit}">
                                </label>
                            </div>
                            <div class="">
                                <div class="title-of-field">Tax code</div>
                                <label>
                                    <input class="input-fields"
                                           type="text"
                                           placeholder="Input your data..."
                                           th:field="*{employee.taxCode}"
                                           th:readonly="${!edit}">
                                </label>
                            </div>
                            <div class="flex flex-col">
                                <div class="title-of-field">Marital Status</div>
                                <label>
                                    <select class="px-4 py-2 w-[20rem] flex shrink-0 items-center content-center rounded-lg"
                                            th:readonly="${!edit}">
                                        <option value="Độc thân" th:selected="*{employee.maritalStatus == 'Độc thân'}">
                                            Độc
                                            thân
                                        </option>
                                        <option value="Đã kết hôn"
                                                th:selected="*{employee.maritalStatus == 'Đã kết hôn'}">Đã
                                            kết hôn
                                        </option>
                                    </select>
                                </label>
                            </div>
                        </div>
                            <div class="tieu-de-section-va-btns-col">
                                <span class="title-3rem">Contact</span>
                                <div class="flex justify-start items-start self-stretch gap-[10rem]">
                                    <div class="">
                                        <div class="title-of-field">Address</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employee.permanentAddress}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Temporary Address</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employee.temporaryAddress}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Personal email</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employee.personalEmail}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Company email</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employee.companyEmail}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                </div>
                                <div class="flex justify-start items-start self-stretch gap-[10rem]">
                                    <div class="">
                                        <div class="title-of-field">Phone number</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employee.phoneNumber}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="tieu-de-section-va-btns-col">
                                <span class="title-3rem">Banking</span>
                                <div class="flex justify-start items-start self-stretch gap-[10rem]">
                                    <div class="">
                                        <div class="title-of-field">Bank account</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employee.bankAccount}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Bank name</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employee.bankName}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div th:class="${tab != 'job' ? 'hidden' : ''}">
                    <div class="scrollable-div">
                        <div class="tieu-de-section-va-btns-col">
                            <span class="title-3rem">Work</span>
                            <div class="flex justify-start items-start self-stretch gap-[10rem]">
                                <div class="">
                                    <div class="title-of-field">Employee no</div>
                                    <label>
                                        <input class="input-fields"
                                               type="text"
                                               placeholder="Input your data..."
                                               th:field="*{employee.employeeCode}"
                                               th:readonly="${!edit}">
                                    </label>
                                </div>
                                <div class="">
                                    <div class="title-of-field">Department</div>
                                    <div th:switch="${edit}">
                                        <label th:case="${false}">
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{department.departmentName}"
                                                   th:readonly="${!edit}">
                                        </label>
                                        <label th:case="${true}">
                                            <!--/*@thymesVar id="d" type="com.se1873.js.springboot.project.entity.Department"*/-->
                                            <select class="px-4 py-2 w-[20rem] flex shrink-0 items-center content-center rounded-lg"
                                                    th:readonly="${!edit}">
                                                <option th:each="d : ${departments}"
                                                        th:value="${d.getDepartmentId()}"
                                                        th:text="${d.getDepartmentName()}">
                                                </option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="title-of-field">Position</div>
                                    <div th:switch="${edit}">
                                        <label th:case="${false}">
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{position.positionName}"
                                                   th:readonly="${!edit}">
                                        </label>
                                        <label th:case="${true}">
                                            <!--/*@thymesVar id="p" type="com.se1873.js.springboot.project.entity.Position"*/-->
                                            <select class="px-4 py-2 w-[20rem] flex shrink-0 items-center content-center rounded-lg"
                                                    th:readonly="${!edit}">
                                                <option th:each="p : ${positions}"
                                                        th:value="${p.getPositionId()}"
                                                        th:text="${p.getPositionName()}">
                                                </option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="title-of-field">Since</div>
                                    <label>
                                        <input class="input-fields"
                                               type="text"
                                               placeholder="Input your data..."
                                               th:field="*{currentEmploymentHistory.startDate}"
                                               th:readonly="${!edit}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="tieu-de-section-va-btns-col">
                            <span class="title-3rem">Contract</span>
                            <div class="flex justify-start items-start self-stretch gap-[10rem]">
                                <div class="">
                                    <div class="title-of-field">Contract no</div>
                                    <label>
                                        <input class="input-fields"
                                               type="text"
                                               placeholder="Input your data..."
                                               th:field="*{currentContract.contractCode}"
                                               th:readonly="${!edit}">
                                    </label>
                                </div>
                                <div class="">
                                    <div class="title-of-field">Type</div>
                                    <label>
                                        <input class="input-fields"
                                               type="text"
                                               placeholder="Input your data..."
                                               th:field="*{currentContract.contractType}"
                                               th:readonly="${!edit}">
                                    </label>
                                </div>
                                <div class="">
                                    <input type="hidden" th:field="*{currentContract.baseSalary}">
                                    <div class="title-of-field">Base Salary</div>
                                    <label>
                                        <input class="input-fields"
                                               type="text"
                                               placeholder="Input your data..."
                                               th:value="${T(java.lang.String).format('%,.0f', employee.getCurrentContract().getBaseSalary())}"
                                               th:readonly="${!edit}">
                                    </label>
                                </div>
                                <div class="">
                                    <div class="title-of-field">Sign date</div>
                                    <label>
                                        <input class="input-fields"
                                               type="text"
                                               placeholder="Input your data..."
                                               th:field="*{currentContract.signDate}"
                                               th:readonly="${!edit}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="tieu-de-section-va-btns-col">
                            <span class="title-3rem">Qualification</span>
                            <div class="tieu-de-section-va-btns-col"
                                 th:each="qualification, iterateStat : ${employee.getQualifications()}">
                                <div class="flex justify-start items-start self-stretch gap-[10rem]">
                                    <input type="hidden"
                                           th:field="*{qualifications[__${iterateStat.index}__].qualificationId}"/>
                                    <div class="">
                                        <div class="title-of-field">Name</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{qualifications[__${iterateStat.index}__].qualificationName}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Type</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{qualifications[__${iterateStat.index}__].qualificationType}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Institution</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{qualifications[__${iterateStat.index}__].institution}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tieu-de-section-va-btns-col">
                            <span class="title-3rem">Skills</span>
                            <div class="tieu-de-section-va-btns-col"
                                 th:each="skill, iterateStat : ${employee.getEmployeeSkills()}">
                                <div class="flex justify-start items-start self-stretch gap-[10rem]">
                                    <input type="hidden"
                                           th:field="*{employeeSkills[__${iterateStat.index}__].skillId}"/>
                                    <div class="">
                                        <div class="title-of-field">Name</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employeeSkills[__${iterateStat.index}__].skillName}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Description</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employeeSkills[__${iterateStat.index}__].description}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Proficiency Level</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employeeSkills[__${iterateStat.index}__].proficiencyLevel}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Years</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{employeeSkills[__${iterateStat.index}__].yearsOfExperience}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:class="${tab != 'dependant' ? 'hidden' : ''}">
                        <div class="scrollable-div">
                            <div class="tieu-de-section-va-btns">
                                <span class="title-3rem">Dependents</span>
                                <button th:class="${edit ? 'add-btn-enabled' : 'add-btn-disabled'}"
                                        id="add-dependent-btn"
                                        type="button"
                                        th:disabled="${!edit}">Add Dependent
                                </button>
                            </div>
                            <div class="tieu-de-section-va-btns-col" id="dependent-container">
                                <div th:each="dependent, iterateStat : ${employee.getDependents()}"
                                     class="flex justify-start items-end self-stretch gap-[10rem]">
                                    <input type="hidden"
                                           th:field="*{dependents[__${iterateStat.index}__].dependentId}"/>
                                    <div class="">
                                        <div class="title-of-field">Dependent name</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{dependents[__${iterateStat.index}__].fullName}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Birth date</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{dependents[__${iterateStat.index}__].birthDate}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">ID no</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{dependents[__${iterateStat.index}__].idNumber}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <div class="">
                                        <div class="title-of-field">Relationship</div>
                                        <label>
                                            <input class="input-fields"
                                                   type="text"
                                                   placeholder="Input your data..."
                                                   th:field="*{dependents[__${iterateStat.index}__].relationship}"
                                                   th:readonly="${!edit}">
                                        </label>
                                    </div>
                                    <button type="button"
                                            th:class="${edit ? 'add-btn-enabled' : 'add-btn-disabled'}"
                                            class="delete-btn"
                                            th:disabled="${!edit}"
                                            onclick="this.closest('.flex').remove()">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>
<template id="dependent-template">
    <div class="flex justify-start items-end self-stretch gap-[10rem]">
        <input type="hidden" name="dependents[].dependentId"/>
        <div class="">
            <div class="title-of-field">Dependent name</div>
            <label>
                <input class="input-fields"
                       type="text"
                       placeholder="Input your data..."
                       name="dependents[].fullName"
                       th:readonly="${!edit}"
                       required>
            </label>
        </div>
        <div class="">
            <div class="title-of-field">Birth date</div>
            <label>
                <input class="input-fields"
                       type="text"
                       placeholder="Input your data..."
                       name="dependents[].birthDate"
                       th:readonly="${!edit}"
                       required>
            </label>
        </div>
        <div class="">
            <div class="title-of-field">ID no</div>
            <label>
                <input class="input-fields"
                       type="text"
                       placeholder="Input your data..."
                       name="dependents[].idNumber"
                       th:readonly="${!edit}"
                       required>
            </label>
        </div>
        <div class="">
            <div class="title-of-field">Relationship</div>
            <label>
                <input class="input-fields"
                       type="text"
                       placeholder="Input your data..."
                       name="dependents[].relationship"
                       th:readonly="${!edit}"
                       required>
            </label>
        </div>
    </div>
</template>