<div class="bodyContainer">
    <div class="basic-information">
        <form th:object="${employee}" th:action="@{/employee/update}" method="post">
            <input type="hidden" th:field="*{employeeId}">
            <input type="hidden" name="editSection" th:value="${editSection}">
            <div>
                <span>Mã nhân viên: </span>
                <input type="text" th:field="*{employeeCode}" th:disabled="${!edit || editSection != 'basic-information'}">
            </div>
            <div>
                <span>Họ tên: </span>
                <input type="text" th:field="*{employeeName}" th:disabled="${!edit || editSection != 'basic-information'}">
            </div>
            <div>
                <span>Liên hệ: </span>
                <input type="text" th:field="*{employeePhone}" th:disabled="${!edit || editSection != 'basic-information'}">
            </div>
            <div>
                <span>Email: </span>
                <input type="text" th:field="*{employeeEmail}" th:disabled="${!edit || editSection != 'basic-information'}">
            </div>
            <div>
                <span>Địa chỉ: </span>
                <input type="text" th:field="*{employeeAddress}" th:disabled="${!edit || editSection != 'basic-information'}">
            </div>
            <div>
                <span>Joining Date: </span>
                <input type="text" th:field="*{createdAt}" disabled>
            </div>
            <div>
                <span>Trạng thái: </span>
                <input type="text" th:field="*{isPresent}" disabled>
            </div>
        </form>
    </div>
    <div>
        <form th:object="${employee}" th:action="@{/employee/update}" method="post">
            <input type="hidden" th:field="*{employeeId}">
            <input type="hidden" name="editSection" th:value="${editSection}">
            <div>
                <span>Phòng ban: </span>
                <select name="departments" class="selects" th:disabled="${!edit || editSection != 'job-information'}">
                    <option th:each="d : ${departments}" th:value="${d.departmentId}" th:text="${d.departmentName}" th:selected="${d.departmentId == departmentId}"/>
                </select>
            </div>
            <div>
                <span>Vị trí: </span>
                <select name="positions" class="selects" th:disabled="${!edit || editSection != 'job-information'}">
                    <option th:each="p : ${positions}" th:value="${p.positionId}" th:text="${p.positionName}" th:selected="${p.positionId == positionId}"/>
                </select>
            </div>
        </form>
    </div>
</div>