<script th:inline="javascript">
    var datas = [];
    var employees = /*[[${allEmployees}]]*/ '[]';
    var departments = [
        ...new Map( //No duplicated
            employees.map(e => [`${e.departmentId}-${e.departmentName}`, { id: e.departmentId, name: e.departmentName }])
        ).values()
    ];
    var positions = [
        ...new Map(
            employees.map(e => [`${e.positionId}-${e.positionName}`, { id: e.positionId, name: e.positionName }])
        ).values()
    ];
    for (var employee of employees) {
        datas.push({
            category: 'Employee',
            title: employee.employeeName,
            id: employee.employeeId
        });
    }
    for (var department of departments) {
        datas.push({
            category: 'Department',
            title: department.name,
            id: department.id
        })
    }
    for (var position of positions) {
        datas.push({
            category: 'Position',
            title: position.name,
            id: position.id
        })
    }

    function countTotalEmployees() {
        var availableEmployeesCount = employees.filter(function (employee) {
            return employee.isPresent === true;
        }).length;
        var unavailableEmployeesCount = employees.filter((employee) => {
            return employee.isPresent === false;
        }).length;

        document.getElementById('availableEmployeesCount').innerText = availableEmployeesCount + " / " + unavailableEmployeesCount;
    }

    function searchEmployees(searchField, searchId) {
        $.ajax({
            url: `/employee/search?field=${encodeURIComponent(searchField)}&id=${encodeURIComponent(searchId)}`,
            method: 'GET',
            success: function (response) {
                window.location.href = `/employee/search?field=${encodeURIComponent(searchField)}&id=${encodeURIComponent(searchId)}`;
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error: " + status + " - " + error);
            }
        });
    }


    window.onload = function () {
        countTotalEmployees();

        $('.ui.search')
            .search({
                type: 'category',
                source: datas,
                onSelect: function (result, response) {
                    var searchField = result.category;
                    var searchId = result.id;
                    searchEmployees(searchField, searchId);
                }
            });
    };
</script>


<div class="bodyContainer ">
    <div class="ui search">
        <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search countries...">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <div class="employee-statistic">
        <div class="employee-statistic-div">
            <span>Total Employees: </span>
            <div th:text="${allEmployees.size()}"></div>
        </div>
        <div class="employee-statistic-div">
            <span>Total Departments: </span>
            <div th:text="${departments.size()}"></div>
        </div>
        <div class="employee-statistic-div">
            <span>Total Positions: </span>
            <div th:text="${positions.size()}"></div>
        </div>
        <div class="employee-statistic-div">
            <span>Total Available / Unemployeed: </span>
            <div id="availableEmployeesCount"></div>
        </div>
    </div>
    <table border="1">
        <thead>
        <th class="table-header">
            <a th:href="@{/employee/sort(sortedField='employeeCode', direction = ${direction == 'desc' ? 'asc' : 'desc'})}"
               th:class="${sortedField != 'employeeCode' ? 'table-header-inactive' : 'table-header-active'}">
                Code
            </a>
        </th>
        <th class="table-header">
            <a th:href="@{/employee/sort(sortedField='employeeName', direction = ${direction == 'desc' ? 'asc' : 'desc'})}"
               th:class="${sortedField != 'employeeName' ? 'table-header-inactive' : 'table-header-active'}">
                Name
            </a>
        </th>
        <th class="table-header">
            <a th:href="@{/employee/sort(sortedField='positionName', direction = ${direction == 'desc' ? 'asc' : 'desc'})}"
               th:class="${sortedField != 'positionName' ? 'table-header-inactive' : 'table-header-active'}">
                Position
            </a>
        </th>
        <th class="table-header">
            <a th:href="@{/employee/sort(sortedField='roleName', direction = ${direction == 'desc' ? 'asc' : 'desc'})}"
               th:class="${sortedField != 'roleName' ? 'table-header-inactive' : 'table-header-active'}">
                Role
            </a>
        </th>
        <th class="table-header">
            <a th:href="@{/employee/sort(sortedField='departmentName', direction = ${direction == 'desc' ? 'asc' : 'desc'})}"
               th:class="${sortedField != 'departmentName' ? 'table-header-inactive' : 'table-header-active'}">
                Department
            </a>
        </th>
        <th class="table-header">
            <a th:href="@{/employee/sort(sortedField='salaryAmount', direction = ${direction == 'desc' ? 'asc' : 'desc'})}"
               th:class="${sortedField != 'salaryAmount' ? 'table-header-inactive' : 'table-header-active'}">
                Salary
            </a>
        </th>
        <th class="table-header">
            <a th:href="@{/employee/sort(sortedField='isPresent', direction = ${direction == 'desc' ? 'asc' : 'desc'})}"
               th:class="${sortedField != 'isPresent' ? 'table-header-inactive' : 'table-header-active'}">
                Status
            </a>
        </th>
        </thead>
        <tbody>
        <tr th:each="emp : ${employees}">
            <td><a th:href="@{/employee/view(employeeId=${emp.getEmployeeId()}, edit = false, editSection = '')}"
                   th:text="${emp.getEmployeeCode()}"/></td>
            <td th:text="${emp.getEmployeeName()}"/>
            <td class="td-position"><div th:text="${emp.getPositionName()}"/></td>
            <td th:text="${emp.getRoleName()}"/>
            <td th:text="${emp.getDepartmentName()}"/>
            <td th:text="${emp.getSalaryAmount()}"/>
            <td th:text="${emp.getIsPresent()}"/>
        </tr>
        </tbody>
    </table>
</div>
<div class="util-container">
    <div>
        <span>Department</span>
        <a th:href="@{/employee/filter(filteredField='all', value=-1)}">
            All
        </a>
        <div th:each="d : ${departments}">
            <a th:href="@{/employee/filter(filteredField='department', value=${d.getDepartmentId()})}"
               th:text="${d.getDepartmentName()}"></a>
        </div>
    </div>
    <div>
        <span>Position</span>
        <a th:href="@{/employee/filter(filteredField='all', value=-1)}">
            All
        </a>
        <div th:each="p : ${positions}">
            <a th:href="@{/employee/filter(filteredField='position', value=${p.getPositionId()})}"
               th:text="${p.getPositionName()}"></a>
        </div>
    </div>
    <div>
        <span>Role</span>
        <a th:href="@{/employee/filter(filteredField='all', value=-1)}">
            All
        </a>
        <div th:each="r : ${roles}">
            <a th:href="@{/employee/filter(filteredField='role', value=${r.getRoleId()})}"
               th:text="${r.getRoleName()}"></a>
        </div>
    </div>
    <div>
        <span>Status</span>
        <a th:href="@{/employee/filter(filteredField='all', value=-1)}">
            All
        </a>
        <a th:href="@{/employee/filter(filteredField='status', value=1)}"
           th:text="Available"></a>
        <a th:href="@{/employee/filter(filteredField='status', value=-1)}"
           th:text="Inavailable"></a>
    </div>
</div>