<div class="menu">
    <a href="/" th:classappend="${page == 'homepage' ? 'active' : ''}" class="menu-item">Homepage</a>
    <a href="/employee" th:classappend="${page == 'employee' ? 'active' : ''}" class="menu-item">Employee</a>
    <a href="/attendance" th:classappend="${page == 'attendance' ? 'active' : ''}" class="menu-item">Attendance</a>
    <a href="/form" th:classappend="${page == 'form' ? 'active' : ''}" class="menu-item">Form</a>
    <a href="/log" th:classappend="${page == 'log' ? 'active' : ''}" class="menu-item">Log</a>
</div>
