<div class="h-screen bg-white lg:w-64">
    <div class="flex flex-col p-2 gap-2 h-full bg-blue-50 justify-center">
        <a th:href="@{/homepage}" class="py-2 lg:px-8 px-4 hover:bg-gray-400 bg-blue-200 rounded-lg truncate
                 transition-all duration-300 ease-in-out text-center">
            Menu Item
        </a>
        <a th:href="@{/employee}" class="py-2 lg:px-8 px-4 hover:bg-gray-400 bg-blue-200 rounded-lg truncate
                 transition-all duration-300 ease-in-out text-center">
            Menu Item
        </a>
        <a href="#" class="py-2 lg:px-8 px-4 hover:bg-gray-400 bg-blue-200 rounded-lg truncate
                 transition-all duration-300 ease-in-out text-center">
            Menu Item
        </a>
        <a href="#" class="py-2 lg:px-8 px-4 hover:bg-gray-400 bg-blue-200 rounded-lg truncate
                 transition-all duration-300 ease-in-out text-center">
            Menu Item
        </a>
        <a href="#" class="py-2 lg:px-8 px-4 hover:bg-gray-400 bg-blue-200 rounded-lg truncate
                 transition-all duration-300 ease-in-out text-center">
            Menu Item
        </a>
    </div>
</div>