.login-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
}

.username-div, .password-div {
    display: flex;
    gap: 5px;
}

.login-div {
    text-align: center;
}