<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/employee/filter}" method="get">
    <input type="hidden" name="field" value="departmentCode"/>
    <label>Filter Department:
        <select name="value" onchange="this.form.submit()">
            <option value="all" th:text="All"/>
            <option th:each="d : ${departments}" th:value="${d.code}" th:text="${d.name}" th:selected="${value == d.code}"/>
        </select>
    </label>
</form>
<form th:action="@{/employee/filter}" method="get">
    <input type="hidden" name="field" value="positionCode"/>
    <label>Filter Position:
        <select name="value" onchange="this.form.submit()">
            <option value="all" th:text="All"/>
            <option th:each="p : ${positions}" th:value="${p.code}" th:text="${p.name}" th:selected="${value == p.code}"/>
        </select>
    </label>
</form>

<table border="1">
    <thead>
    <th>Name</th>
    <th>Code</th>
    <th>Department</th>
    <th>Position</th>
    <th>Since</th>
    <th>Salary</th>
    </thead>
    <tbody>
    <!--/*@thymesVar id="e" type="com.se1873.js.springboot.swp391_project.dto.EmployeeDTO"*/-->
    <tr th:each="e : ${employees}">
        <td><a th:href="@{/employee/view(employeeCode=${e.employee.code})}" th:text="${e.employee.name}"/> </td>
        <td th:text="${e.employee.code}"/>
        <td th:text="${e.department.name}"/>
        <td th:text="${e.position.name}"/>
        <td th:text="${e.employmentHistory.startDate}"/>
        <td th:text="${e.contract.baseSalary}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>