<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="employee" type="com.se1873.js.springboot.swp391_project.dto.EmployeeDTO"*/-->
<form th:object="${employee}"
        th:action="@{/employee/update}">
    <div>
        <h2>Personal Data</h2>
        <input type="hidden" th:field="*{employee.employeeId}">
        <div>
            <label>First name:</label>
            <input th:field="*{employee.firstName}" th:value="*{employee.firstName}"/>
        </div>
        <div>
            <label>Last name:</label>
            <input th:field="*{employee.lastName}" th:value="*{employee.lastName}"/>
        </div>
        <div>
            <label>Birth Date:</label>
            <input th:field="*{employee.birthDate}" th:value="*{employee.birthDate}"/>
        </div>
        <div>
            <label>Gender:</label>
            <input th:field="*{employee.gender}" th:value="*{employee.gender}"/>
        </div>
        <div>
            <label>ID no:</label>
            <input th:field="*{employee.idNumber}" th:value="*{employee.idNumber}"/>
        </div>
        <div>
            <label>Phone number:</label>
            <input th:field="*{employee.phoneNumber}" th:value="*{employee.phoneNumber}"/>
        </div>
        <div>
            <label>Personal E-mail:</label>
            <input th:field="*{employee.personalEmail}" th:value="*{employee.personalEmail}"/>
        </div>
        <div>
            <label>Company E-mail:</label>
            <input th:field="*{employee.companyEmail}" th:value="*{employee.companyEmail}"/>
        </div>
        <div>
            <label>Permanent address:</label>
            <input th:field="*{employee.permanentAddress}" th:value="*{employee.permanentAddress}"/>
        </div>
        <div>
            <label>Temporary address</label>
            <input th:field="*{employee.temporaryAddress}" th:value="*{employee.temporaryAddress}"/>
        </div>
        <div>
            <label>Marital Status:</label>
            <input th:field="*{employee.maritalStatus}" th:value="*{employee.maritalStatus}"/>
        </div>
        <div>
            <label>Bank:</label>
            <input th:field="*{employee.bankName}" th:value="*{employee.bankName}"/>
        </div>
        <div>
            <label>Bank Code:</label>
            <input th:field="*{employee.bankAccount}" th:value="*{employee.bankAccount}"/>
        </div>
        <div>
            <label>Tax no:</label>
            <input th:field="*{employee.taxCode}" th:value="*{employee.taxCode}"/>
        </div>
    </div>
    <div>
        <h2>Work Data</h2>
        <input type="hidden" th:field="*{department.departmentId}">
        <input type="hidden" th:field="*{employmentHistory.historyId}">
        <input type="hidden" th:field="*{position.positionId}">
        <div>
            <label>Employee no:</label>
            <input th:field="*{employee.employeeCode}" th:value="*{employee.employeeCode}"/>
        </div>
        <div>
            <label>Department:</label>
            <input th:field="*{department.departmentName}" th:value="*{department.departmentName}"/>
        </div>
        <div>
            <label>Position:</label>
            <input th:field="*{position.positionName}" th:value="*{position.positionName}"/>
        </div>
        <div>
            <label>Since:</label>
            <input th:field="*{employmentHistory.startDate}" th:value="*{employmentHistory.startDate}"/>
        </div>
    </div>
    <div>
        <h2>Contract</h2>
        <input type="hidden" th:field="*{contract.contractId}">
        <div>
            <label>Contract no:</label>
            <input th:field="*{contract.contractCode}" th:value="*{contract.contractCode}"/>
        </div>
        <div>
            <label>From:</label>
            <input th:field="*{contract.startDate}" th:value="*{contract.startDate}"/>
        </div>
        <div>
            <label>To:</label>
            <input th:field="*{contract.endDate}" th:value="*{contract.endDate}"/>
        </div>
        <div>
            <label>Salary:</label>
            <input th:field="*{contract.baseSalary}" th:value="*{contract.baseSalary}"/>
        </div>
    </div>
    <div>
        <h2>Qualifications</h2>
        <!--/*@thymesVar id="qualifications" type="com.se1873.js.springboot.swp391_project.entity.Qualification"*/-->
        <div th:each="qualification, stat : ${employee.qualifications}">
            <input type="hidden" th:field="*{qualifications[__${stat.index}__].qualificationId}">
            <div>
                <label>Qualification name:</label>
                <input th:field="*{qualifications[__${stat.index}__].qualificationName}" th:value="*{qualifications[__${stat.index}__].qualificationName}"/>
            </div>
            <div>
                <label>Institution:</label>
                <input th:field="*{qualifications[__${stat.index}__].institution}" th:value="*{qualifications[__${stat.index}__].institution}"/>
            </div>
            <div>
                <label>Description:</label>
                <input th:field="*{qualifications[__${stat.index}__].description}" th:value="*{qualifications[__${stat.index}__].description}"/>
            </div>
            <div>
                <label>Type:</label>
                <input th:field="*{qualifications[__${stat.index}__].qualificationType}" th:value="*{qualifications[__${stat.index}__].qualificationType}"/>
            </div>
            <div>
                <label>Issue date:</label>
                <input th:field="*{qualifications[__${stat.index}__].issueDate}" th:value="*{qualifications[__${stat.index}__].issueDate}"/>
            </div>
            <div>
                <label>Expiry date:</label>
                <input th:field="*{qualifications[__${stat.index}__].expiryDate}" th:value="*{qualifications[__${stat.index}__].expiryDate}"/>
            </div>
        </div>
    </div>
    <button type="submit">Submit</button>
    <a th:href="@{/employee}">Back to main</a>
</form>
</body>
</html>