<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/employee/employee-insert}">INSERT</a>
<form th:action="@{/employee/filter}" method="get">
    <input type="hidden" name="field" value="departmentID">
    <label>Filter Department:
        <select name="value" onblur="this.form.submit()">
            <option value="all" th:text="All"/>
            <option th:each="d : ${departments}" th:value="${d.getDepartmentId()}" th:text="${d.getDepartmentName()}"/>
        </select>
    </label>
</form>
<form th:action="@{/employee/filter}" method="get">
    <input type="hidden" name="field" value="positionID">
    <label>Filter Position:
        <select name="value" onblur="this.form.submit()">
            <option value="all" th:text="All"/>
            <option th:each="d : ${positions}" th:value="${d.getPositionId()}" th:text="${d.getPositionName()}"/>
        </select>
    </label>
</form>


<table border="1">
    <thead>
    <th><a th:href="@{/employee/sort(field = 'Name', direction=${direction.equals('asc') ? 'desc' : 'asc'})}">Name</a></th>
    <th><a th:href="@{/employee/sort(field = 'Code' , direction=${direction.equals('asc') ? 'desc' : 'asc'})}">Code</a></th>
    <th><a th:href="@{/employee/sort(field = 'Department' , direction=${direction.equals('asc') ? 'desc' : 'asc'})}">Department</a></th>
    <th><a th:href="@{/employee/sort(field = 'Position' , direction=${direction.equals('asc') ? 'desc' : 'asc'})}">Position</a></th>
    <th><a th:href="@{/employee/sort(field = 'startDate' , direction=${direction.equals('asc') ? 'desc' : 'asc'})}">Since</a></th>
    <th><a th:href="@{/employee/sort(field = 'Salary' , direction=${direction.equals('asc') ? 'desc' : 'asc'})}">Salary</a></th>
    </thead>
    <tbody><!--/*@thymesVar id="e" type="com.se1873.js.springboot.project.dto.EmployeeDTO"*/-->
    <tr th:each="e : ${employees}">
        <td class="">
            <a th:href="@{/employee/view(employeeId=${e.getEmployee().getEmployeeId()})}"
               th:text="${e.getEmployee().getFirstName()}"/>
        </td>
        <td th:text="${e.getEmployee().getEmployeeCode()}"/>
        <td th:text="${e.getDepartment().getDepartmentName()}"/>
        <td th:text="${e.getPosition().getPositionName()}"/>
        <td th:text="${e.getEmploymentHistory().getStartDate()}"/>
        <td th:text="${T(java.lang.String).format('%,.0f', e.getContract().getBaseSalary())}"/>
    </tr>
    </tbody>
</table>
</body>
</html>