<!DOCTYPE html>
<html class="m-0" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/output.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/AddPart.js}"></script>
    <script type="text/javascript" th:src="@{/js/employee.js}"></script>
</head>
<body class="bg-gradient-to-r from-[#E8F0FA] via-[#B4CAF3] to-violet-500 ">
<div class="flex flex-col gap-2 h-screen">

<!--    <div th:replace="~{${header}}"></div>-->
    <div class="flex justify-end px-[20rem] py-4 gap-5">
        <a th:href="@{/employee}" th:text="Employee" class="px-4 py-2 bg-[#E5BEBE] rounded-lg"></a>
        <a th:href="@{/attendance}" th:text="Attendance" class="px-4 py-2 bg-[#E5BEBE] rounded-lg"></a>
    </div>

    <div class="flex-1 h-screen flex flex-col gap-2 rounded-lg overflow-y-scroll">
        <div th:replace="~{${fragments}}"></div>
    </div>
</div>
</body>
</html>